* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #F7f7f9
}
nav {
  display: flex;
  width: 375px;
  height: 48px;
  padding: 4px 24px 4px 12px;
  align-items: center;
  gap: 199px;
  flex-shrink: 0;
  background-color: white;
}

nav a{
  display: flex;
  padding: 10px 12px;
  align-items: center;
  color: var(--primary-b-400, #6070FF);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
nav svg {
  width: 24px;
  height: 24px;
  color: var(--primary-b-400, #6070FF);
}
.intro{
  display: inline-flex;
  padding: 114px 24px;
  flex-direction: column;
  align-items: flex-start;
  background-image: url('asset/images/backgroundimg.svg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100%; 
  border-radius: 0 0 0 50px;
  background-color: white;
}
.intro span {
  display: flex;
  width: 327px;
  height: 150px;
  flex-direction: column;
  justify-content: center;
  color: var(--neutrals-n-800, #172B4D);
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  }
.intro p {
  display: flex;
  width: 327px;
  height: 146px;
  flex-direction: column;
  color: var(--neutrals-n-600, #344563);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  
}
.intro a {
  color: var(--primary-b-300, #7F8CFF);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.intro svg {
  width: 170.167px;
  height: 20px;
  margin-top: 12px;
}



@media screen and (min-width:375px){
  
}
@media screen and (min-width:768px) {
  
}

